@page "/accounts/create"
@page "/accounts/{id:int}/edit"
@inject IDatabaseProvider DatabaseProvider
@inject NavigationManager NavigationManager

<h1>Create Account</h1>

<Loading IsLoading="database == null">
    <EditForm Model="@model" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>
                Name
                <InputText @bind-Value="model.Name" />
            </label>
        </div>

        <div class="form-group">
            <label>
                Currency
                <InputSelect @bind-Value="model.Currency">
                    <option></option>
                    @foreach (var item in database?.Currencies.OrderBy(c => c.IsoName))
                    {
                        <option value="@item.IsoName">@item</option>
                    }
                </InputSelect>
            </label>
        </div>

        <div class="form-group">
            <label>
                Holder name
                <InputText @bind-Value="model.HolderName" />
            </label>
        </div>

        <div class="form-group">
            <label>
                Bank
                <InputText @bind-Value="model.BankName" />
            </label>
        </div>

        <div class="form-group">
            <label>
                Initial balance
                <InputNumber @bind-Value="model.InitialBalance" />
            </label>
        </div>

        <div class="form-group">
            <label>
                Account type
                <InputSelect @bind-Value="model.AccountType">
                    @foreach (var item in Enum.GetValues(typeof(AccountType)))
                    {
                        <option value="@item">@item</option>
                    }
                </InputSelect>
            </label>
        </div>

        <div class="form-group">
            <label>
                Default Credit or Debit
                <InputSelect @bind-Value="model.DefaultCreditDebit">
                    @foreach (var item in Enum.GetValues(typeof(CreditDebit)))
                    {
                        <option value="@item">@item</option>
                    }
                </InputSelect>
            </label>
        </div>

        <div class="form-group">
            <label>
                Default transaction state
                <InputSelect @bind-Value="model.DefaultTransactionState">
                    @foreach (var item in Enum.GetValues(typeof(TransactionState)))
                    {
                        <option value="@item">@item</option>
                    }
                </InputSelect>
            </label>
        </div>

        <div class="form-group">
            <label>
                Default transaction type
                <InputSelect @bind-Value="model.DefaultTransactionType">
                    @foreach (var item in Enum.GetValues(typeof(TransactionType)))
                    {
                        <option value="@item">@item</option>
                    }
                </InputSelect>
            </label>
        </div>
        
        <div class="form-group">
            <label>
                Show On Sidebar
                <InputCheckbox @bind-Value="model.ShowOnSidebar" />
            </label>
        </div>

        <button type="submit">Submit</button>
    </EditForm>
</Loading>

@code {
    Database database;
    AccountModel model = new AccountModel();

    [Parameter]
    public int? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        database = await DatabaseProvider.GetDatabase();
    }

    protected override void OnParametersSet()
    {
        var account = database.GetAccountById(Id);
        if (account == null && Id != null)
        {
            NavigationManager.NavigateToAccounts();
            return;
        }

        if (account != null)
        {
            model = new AccountModel
            {
                Name = account.Name,
                BankName = account.Bank,
                HolderName = account.HolderName,
                Currency = account.CurrencyIsoCode,
                InitialBalance = account.InitialBalance,
                AccountType = account.AccountType,
                DefaultCreditDebit = account.DefaultCreditDebit,
                DefaultTransactionState = account.DefaultTransactionState,
                DefaultTransactionType = account.DefaultTransactionType,
                ShowOnSidebar = account.ShowOnSidebar,
            };
        }
    }

    private async Task OnSubmit()
    {
        var account = database.GetAccountById(Id) ?? new Core.Account();

        account.Name = model.Name;
        account.Bank = model.BankName.TrimAndNullify();
        account.HolderName = model.HolderName.TrimAndNullify();
        account.CurrencyIsoCode = model.Currency;
        account.InitialBalance = model.InitialBalance;
        account.AccountType = model.AccountType;
        account.DefaultCreditDebit = model.DefaultCreditDebit;
        account.DefaultTransactionState = model.DefaultTransactionState;
        account.DefaultTransactionType = model.DefaultTransactionType;
        account.ShowOnSidebar = model.ShowOnSidebar;

        database.SaveAccount(account);
        await DatabaseProvider.Save();
        NavigationManager.NavigateToAccounts();
    }

    private sealed class AccountModel
    {
        [Required]
        public string Name { get; set; }
        public string BankName { get; set; }
        public string HolderName { get; set; }
        public string Currency { get; set; }
        public decimal InitialBalance { get; set; }
        public AccountType AccountType { get; set; }
        public CreditDebit DefaultCreditDebit { get; set; }
        public TransactionState DefaultTransactionState { get; set; }
        public TransactionType DefaultTransactionType { get; set; }
        public bool ShowOnSidebar { get; set; } = true;
    }
}